<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
     integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <h1>HELPONIFY</h1>
    <div class="para">
<p>When we think about cancer, heart disease, or diabetes, we don't wait years to treat them. We start before Stage4--we begin with prevention.
     So why don't we do the same for individuals who are dealing with mental health concerns?</p>
     
<p>Helponify - You will smile again! <br> 
  Helponify aims at providing mental health assistance with a questionnaire based mental health chatbot functionality wherein
  via conversation chatbot will collect the answers of predefined questions, based on this it will generate tickets consisting of 
  response according to the needs.These tickets will be sent to user’s email providing them on demand service of the best consultants
  virtually or in person according to their needs also some self help tool to try for their wellness. This widget can be embedded in any
   healthcare provider's websites.</p>
<p>In the navigation of widget  in bottom right there is chatbot which have screening tools in form of different tests such as depression test,anxiety test etc.
    to help you understand well your mental heaalth which should not be taken for granted.
    A screening is a tool that has been proven by research to help identify symptoms of a mental health disorder.
     chatbot's screening tools provide an anonymous, free and private way to learn about your mental health and if you are showing warning signs 
     of a mental illness.</p>
 <h2> Navigation through widget</h2>
     <ul>
         <li><span><i class="fa fa-home"></i></span> Home page:this is default page other than this we have three other navigation links</li>
         <li><span><i class="fa fa-info"></i></span> About:You can visit this link to know about chatbot working and its services </li>
         <li><span><i class="fa fa-book"></i></span> Address Book:In this address book you can read about type of disorders such as depression, anxiety and all the screening tools
              which are there in chatbot screening tests.You will get an informed service by reading them.</li>
         <li><span><i class="fa fa-comment"></i></span> Chatbot:This is chatbot link you can go trough for screening test.All the best!</li>
     </ul>
    </div>
</body>
</html>
